tk
imutils
layoutparser
nltk
numpy
opencv-python
pandas
pytesseract
scikit-image
scikit-learn
scipy
toml
torch==2.3.1+cpu
torchvision==0.18.1+cpu
torchaudio==2.3.1+cpu
thefuzz
wxPython
streamlit
streamlit_image_select
pytorch-ignite
