tk
imutils
layoutparser
nltk
numpy
opencv-python
pandas
pytesseract
scikit-image
scikit-learn
scipy
toml
torch==2.3.1
torchvision==0.18.1 
torchaudio==2.3.1
thefuzz
wxPython
streamlit
streamlit_image_select
pytorch-ignite
git+https://github.com/openai/CLIP.git
git+https://github.com/facebookresearch/detectron2.git
